NEXT_PUBLIC_SUPABASE_URL=https://phjbjlcsfgpzphlvlnty.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoamJqbGNzZmdwenBobHZsbnR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTQ5NjEsImV4cCI6MjA5MDc5MDk2MX0.OTVZey1i8tKtDGQ-OZpR_ovNLH8U5aE-vWhzw-wCLLc
